<div class="span10">
    <ul class="breadcrumb x-small-font">
        <li>
            <a href="#"><img src="img/link.gif" alt="site"/></a><span class="divider">|</span>
        </li>
        <li>
            <a href="#">免責聲明</a><span class="divider">|</span>
        </li>
        <li>
            <a href="#">網站隱私權保護聲明</a><span class="divider">|</span>
        </li>
        <li>
            <a href="#">客戶資料保密措施</a><span class="divider">|</span>
        </li>
        <li>
            <a href="#">共同行銷商品及服務契約</a><span class="divider">|</span>
        </li>
        <li>
            <a href="#">資訊安全政策</a><span class="divider">|</span>
        </li>
        <li>
            <span>版權所有  華南銀行</span>
        </li>
    </ul>
    <div style="text-align: center">
        <p class="x-small-font">服務專線：(02)2181-0101　www.hncb.com.tw　台北市重慶南路一段38號</p>
    </div>
</div>