<!--<div class="row page-header">-->
    <div class="span2">
        <h1>華南銀行</h1>
        <h4>HUA NAN BANK</h4>
    </div>
    <div class="span2">
        <div class="inline" style="margin-top: 25px">
            <span class="label label-success">信賴</span>
            <span class="label label-info">熱誠</span>
            <span class="label label-important">創新</span>
        </div>
    </div>
    <div class="span4 offset1">
        <h1 class="ribbon">
            <strong>網路銀行</strong>
        </h1>
    </div>
<!--</div>-->
